.stepper-container-horizontal {
    border: 1px solid lightsalmon;
    box-shadow: 0 0 13px #333;
    border-radius: 3px;
    margin: 40px auto;
    padding: 30px;
    width: 90%;
}

.buttons-container {
    text-align: center;
}

.stepper-input {
    margin-left: -45px;
    width: 100px;
    column-count: 2;
    column-gap: 40px;
    position: absolute;
}

.stepper-btn {
    position: relative;
    margin-left: 70px;
    margin-top: 40px;
}

.not-form-control {
    margin-left: 48px;
    width: 300px;
}