.categories{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
    background-color: rgb(212, 211, 211);
    padding: 30px 5px 10px 5px;
}
.categories form{
    width: 290px;
    margin-bottom: 20px;
}
.categories label{
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.categories input, .cat-create, .cat-del, .cat-edit{
    height: 35px;
    border: none;
    outline: none;
    border: 1px solid #555;
}
.categories input{
    width: 210px;
}
.categories button{
    width: 70px;
    background: #555;
    color: white;
    margin-left: 10px;
    border-radius: 25px;
}
.cat-create:hover{
    font-weight: 700;
    border: none;
    background-color: rgb(0, 140, 255);
}
.cat-edit:hover{
    font-weight: 700;
    border: none;
    background-color: rgb(255, 166, 0);
}
.cat-del:hover{
    font-weight: 700;
    border: none;
    background-color: rgb(240, 0, 0);
}
.categories .row{
    min-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(0, 43, 83);
}