.detail{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
}
.detail img{
    max-width: 700px;
    width: 100%;
    margin: 20px;
    height: 450px;
    object-fit: cover;
    display: block;
    border: 1px rgb(0, 0, 0);
}
.box-detail{
    max-width: 600px;
    width: 100%;
    margin: 5px 20px;
}
.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-detail h2{
    text-transform: uppercase;
    color: darkblue;
    letter-spacing: 2px;
    font-weight: 5rem;
}

.box-detail h4{
    text-transform: uppercase;
    color: rgb(48, 48, 233);
    letter-spacing: 2px;
    font-weight: 2rem;
    margin-left: 10px;
    margin-top: 8px;
    margin-right: 10px;
}

.fav{
    margin-left: 220px
}

.box-detail p{
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
    text-align:justify;
}

.box-detail .buy{
    background: rgb(0, 140, 255);
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    border-radius: 5px;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 15px, rgba(0, 0, 0, 0.22) 0px 5px 12px;
    margin-left: 35px;
    margin-bottom:auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}

.box-detail .buy:hover{
    background: rgb(0, 105, 190);
}

.box-detail .req_price{
    background: rgb(255, 102, 0);
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    border-radius: 5px;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 15px, rgba(0, 0, 0, 0.22) 0px 5px 12px;
    margin-left: 20px;
    margin-bottom:auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}

.box-detail .req_price:hover{
    background: rgb(255, 72, 0);
}