.message {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.messageTop {
    display: flex;
}

.messageName{
    object-fit: cover;
    margin-right: 10px;
    font-weight: 700;
}

.messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messageBottom {
    font-size: 12px;
    margin-top: -5px;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}