.appointment-topic {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: rgb(231, 231, 231);
    background-color: rgb(0, 81, 95);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
}

.calender-topic {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: rgb(231, 231, 231);
    background-color: rgb(16, 95, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
}

.appointment-btn {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.calender {
    overflow: hidden;
    margin: 20px
}

.dash-admin {
    position:static;
    margin-top: -141px;
}

.calendar-box {
    position: relative;
    margin-top: 100px;
}

.booked-label {
    color:white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-weight: 550;
}

.btn-print {
    position: relative;
    float: right;
    margin: 10px;
}

.background { 
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    opacity: 100%;
}

.appointment {
    background-color: rgb(208, 218, 214)
}

.calendar {
    background-color: rgb(175, 212, 158);
}

@import 'antd/dist/antd.css';